.header {
    background-color: #b3dcff;
  
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-right: 10px;
  
      &--center {
        align-items: center;
        padding-bottom: 60px;
      }
  
      &--dark {
        background-color: #0a5067;
  
        padding: 10px 20px;
        min-height: 50px;
        border-top: 10px solid blue;
      }
    }
  
    &__container {
      display: none;
    }
  }