.mask{
   
    -webkit-mask-image: url(../../img/hag-big-logo.svg);
    mask-image: url(../../img/hag-big-logo.svg);
    -webkit-mask-size: 70%;
    mask-size: 70%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
   
    &--dji{
        -webkit-mask-image: url(../../img/dji.svg);
        mask-image: url(../../img/dji.svg);
        -webkit-mask-size: 70%;
        mask-size: 70%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-position: center;
    }   
}
@media screen and (min-width:100px){
    .mask{
        padding-left: 100px;
        mask-position: 100% 50%;
    }
 
}
