.offers{
    margin: 0;
    padding-top: 300px;
    background-image: url(../../img/rectangle5.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-left: 0;
    list-style: none;
   
    
    &__part{
        width: 330px;
        height:292px;
        background-color: #FFFFFF;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-top: 30px;
        
    }    
    &--first-offer{
        background-image: url(../../img/drone-2.svg);
        background-repeat: no-repeat;
    }
    &--blue-download-price{
        background-image: url(../../img/rectangle-blue.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        width: 330px;
        margin-left: auto;
        margin-right: auto;

    }
    &__icon {
        width: 56px;
        height: 56px;
        left:15px;
        top:15px;
    }
    &__button{
        width: 220px;
        height: 58px;
        background-color: #FFEA30;
        border-radius: 36px;    
        border:none;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        
    }
}