.section{
    &__wrapper{
        &--hag{
            background-image: url("../../img/rectangle1.png");
            margin-top: 30px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}