.text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;

  &__block-bold {
    font-size: 24px;
    font-weight: 500;
    display: block;
    padding-bottom: 30px;
    &--chevron-bg:after {
      position: absolute;
      content: 'xag';
      font-family: 'Roboto', sans-serif;
      font-size: 96px;
      font-style: normal;
      font-weight: 500;
      line-height: 112px;
      text-transform: uppercase;
      z-index: -1;
      color: #f2f2f2;
      top: 500px;
      left: 175px;
    }
  }

  &__banner-bold {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -100px;
  }

  &__bold {
    font-weight: 700;
    // display: flex;
    // position: relative;
  }

  &--banner {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1000px) {
  .text {
    &--company {
      width: 500px;
    }
    &__block-bold {
      width: 500px;
      &--chevron-bg:after {
        position: absolute;
        content: 'xag';
        font-family: 'Roboto', sans-serif;
        font-size: 96px;
        font-style: normal;
        font-weight: 500;
        line-height: 112px;
        text-transform: uppercase;
        width: 300px;
        z-index: -1;
        color: #f2f2f2;
        top: 545px;
        left: 380px;
      }
    }
  }
}
