.title {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    margin: 0;

    &--bold {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    &--center {
        text-align: center;
    }
}
