<main class="main">
    <section class="section">
        <div class="section__wrapper section__wrapper--chevron">
            <div class="section__wrapper section__wrapper--chevron--black-drone">
                <h1 class="title title--left">Дроны DJI</h1>
            </div>        
            <img src="" alt="" claass="main_img">
        
            <article class="main_article">
            <p class="text">    
                <span class="text__block-bold text__block-bold">
                    Китайская компания DJI 
                </span>            
                Это лидер рынка беспилотных летательных аппаратов. 
                Она стала пионером массового производства дронов,
                в т.ч.
                в агрокультурном комплексе, и отличается демократичностью цен и инновационностью разработок.
            </p>
            <div class="mask--dji">
                <div class="img__nature-bg"></div>
            </div>
        </div>
        <section class="main_wrapper">    
        </article>
    </section>    
    <section class="main__wrapper">
        <h2 class="main_h2">Чем дроны 
            DJI хороши 
            для фермера</h2>
        <p class="main_paragraph">В отличие от наземных вариантов, беспилотные дроны DJI могут 
            выполнять полевые работы по распутице. Также они выручают на участках со сложным рельефом 
            почвы или расположенных 
            на склонах. 
            Успешно справляются дроны DJI и с другими нестандартными задачами:</p>    
        <img src="" alt="" class="main_img">    
        <ol class="main__ol">
            <li class="main_item">Внесение удобрений и гербицидов 
                по весне.</li>
            <li class="main_item">Десикация растений 
                на поздних стадиях вегетации для облегчения машинной уборки урожая
                </li>
            <li class="main_item">
                РОбработка рисовых полей, уход за другими культурами, которые выращиваются на заливных лугах;
            </li>
            <li class="main_item">
                Обслуживание виноградников 
                на возвышенностях.
            </li>
        </ol>
    </section>
    <article class="main_article">
            <h2 class="main_h2"> Автоматизация полетов </h2>
            <p class="main_paragraph">Дроны DJI могут «запоминать» обработанные участки и использоваться для
                 контроля посадок. Это позволяет планировать сельскохозяйственные работы, составлять прогнозы
                  по урожаю. Благодаря функции автоматизированных полетов управлять таким дроном можно даже при помощи смартфона. А собранные им данные - загружать в облачное хранилище.</p>
            <img src="" alt="" class="main_img">
    </article>
    <article class="main_article">
        <img src="" alt="" class="main_img">   
        <h2 class="main_h2">Определение фактической площади сева, 
            уборки и необрабатываемой земли;
        </h2>
        <ol class="main__ol">
            <li class="main_item">Сбор данных о всхожести озимых культур, качестве сева, 
                предполагаемом урожае (что важно для полей с неоднородной урожайностью);
            </li>
            <li class="main_item">Десикация растений 
                на поздних стадиях вегетации для облегчения машинной уборки урожая
                </li>
            <li class="main_item">
                Подготовка земли под зябь или пар;
            </li>
            <li class="main_item">
                Точечная обработка посевов. Это позволяет быстро распылить гербицид или пестицид в
                 очаги поражения, пока они не разрослись, или дифференцировать внесение удобрений.
            </li>
        </ol>
    </article>
    <article class="main_article">
        <img src="" alt="" class="main_img">   
        <h2 class="main_h2">Характеристики
            дронов DJI
        </h2>
        <ol class="main__ol">
            <li class="main_item">Сбор данных о всхожести озимых культур, качестве сева, 
                предполагаемом урожае (что важно для полей с неоднородной урожайностью);
            </li>
            <li class="main_item">Десикация растений 
                на поздних стадиях вегетации для облегчения машинной уборки урожая
                </li>
            <li class="main_item">
                                Системы GPS-навигации, радиолокации 
                и распознавания людей, модули для работы с сетями 5G исключают риск случайного опыления людей, попавших на поле,
                или вылета дрона за пределы карты.
            </li>
            <li class="main_item">
                Обеспечивает более равномерную обработку листа и оптимальный расход 
                СЗР благодаря регулируемому размеру микрокапель;
            </li>
            <li class="main_item">
                Встроенная камера обеспечивает точность обработки ряда до 1 см.
            </li>
        </ol>
    </article>
    <article class="main_article">
        <h2 class="main_h2">Характеристики
            дронов DJI
        </h2>
        <p class="main_paragraph_light">
                Использование беспилотных дронов позволяет избежать издержек, связанных с использованием наземного 
                (в особенности, прицепного) оборудования:
        </p>
        <ol class="main__ol">
            <li class="main_item">Не оставляет после себя колею в стеблестое, таким образом сохраняя 
                от 3 до 8% урожая от вытаптывания;
            </li>
            <li class="main_item">На 40% сокращает расход раствора для обработки СХ-культур.
                </li>
            <li class="main_item">
                В 60 раз эффективнее ручного распыления, а также намного безопаснее - как для оператора, 
                так и для окружающей среды.
            </li>
        </ol>
        <img src="" alt="" class="main_img">   
    </article>
    <section class="offers">
        <h2 class="offers_h2">
            Помимо продажи 
            дронов Агродом 
            предлагает
        </h2>
        <div class="offers_part">
            <span class="offers_span">Курсы для операторов дронов 
                с получением сертификата 
                по их завершении.</span>
        </div>
        <div class="offers_part">
            <span class="offers_span">Курсы для операторов дронов 
                с получением сертификата 
                по их завершении.</span>
        </div>
        <div class="offers_part">
            <span class="offers_span">Индивидуальные рекомендации 
                по внедрению беспилотных систем опрыскивания на вашем участке.</span>
        </div>
        <p class="offers_big_text">Обращайтесь - мы поможем оптимизировать ваши полевые работы!</p>
        <button class="offers_button">
            Связаться с нами
        </button>
        <a href="" class="offers_link">Скачать прайc
            дронов XAG</a>
    </section>




</main>
