<header class="header">
  <div class="header__wrapper header__wrapper--center">
    <a href="/" class="logo">
      <img
        src="../img/logo.png"
        alt="Agrodom"
        class="logo__img"
        width="200"
        height="43"
      />
    </a>
    <div class="header__container">
      <p class="header__lable"></p>
      <address class="header__text"></address>
      <a href="" class="header__link"></a>
      <!-- <svg></svg>
            <svg></svg> -->
    </div>
    <div class="header__container">
      <p class="header__lable"></p>
      <p class="header__text"></p>
      <button class="action-button"></button>
    </div>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <a href="" class="plain-link">
          <span class="plain-link__text">Розничный отдел:</span>
          <span class="plain-link__text">8(918)689-55-44</span>
        </a>
      </li>
      <li class="contacts-list__item">
        <a href="" class="plain-link">
          <span class="plain-link__text">Отдел опта:</span>
          <span class="plain-link__text">8(861)991-03-73</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="header__wrapper header__wrapper--dark">
    <button class="burger-button" aria-label="Menu">
      <svg class="burger-button__icon">
        <use href="../img/sprite.svg#burger"></use>
      </svg>
    </button>
    <div class="backdrop">
      <div class="backdrop__modal">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="nav__link">Главная</a>
            </li>
            <li class="nav__item">
              <a href="nav__link">О компании</a>
            </li>
            <li class="nav__item">
              <a href="nav__link">Продукция</a>
            </li>
            <li class="nav__item">
              <a href="nav__link">Прайсы</a>
            </li>
            <li class="nav__item">
              <a href="djl.html">Агродроны</a>
            </li>
            <li class="nav__item">
              <a href="nav__link">Продукция</a>
            </li>
          </ul>
        </nav>
        <button class="backdrop__close" aria-label="Close modal"></button>
      </div>
    </div>
  </div>
</header>
