<main class="main">
	<section class="section">
		<div class="section__wrapper section__wrapper--hag">
			<div class="section__wrapper section__wrapper--hag--red-drone">
				<h1 class="title title--left">Дроны XAG</h1>
			</div>
			<div class="section__wrapper  section__wrapper--hag--red-drone--text-hag"> 
				<div>
					<span class="text__block-bold text__block-bold--hag-bg">
						Китайская компания XAG —
					</span>
					<p class="text--company">Это один из крупнейших производителей сельскохозяйственных дронов в
						мире. Ее продукция отличается высокой прочностью и устойчивостью
						конструкции и хорошей базовой комплектацией. XAG предлагают также
						передовую интеллектуальную систему управления и подготовки полетных
						заданий.</p>
				</div>
				<div class="mask">
					<img src="../img/hag-bg.png" alt=""  />
				</div> 
			</div> 
			
		</div>
	</section>
	<section class="section">
		<div class="section__wrapper">
			<h2 class="title title--center">Как именно дроны помогают сэкономить?</h2>
			<ul class="list--ul">
				<li class="list list--numbers--current">
					<p class="list--number">1</p>

					<p class="text">
						Предотвращают потери урожая по «колее» сельхозтехники — а это
						<span class="text__bold">от 3 до 8%</span>!
					</p>
				</li>
				<li class="list list--numbers">
					<p class="list--number">2</p>
					<p class="text">
						Могут работать <span class="text__bold">круглосуточно и без выходных </span>, что позволяет быстро
						реагировать на высыхание почвы или появление вредителей.
					</p>
				</li>
				<li class="list list--numbers">
					<p class="list--number">3</p>
					<p class="text">
						Работа дронов в ночное время <span class="text__bold">повышает эффективность обработки </span>в
						соответствии с биоритмами растений.
					</p>
				</li>
				<li class="list list--numbers">
					<p class="list--number">4</p>
					<p>
						<span class="text__bold">Не требуют расходов </span>на аренду или содержание сельхозтехники,
						горюче-смазочные материалы для нее.
					</p>
				</li>
				<li class="list list--numbers">
					<p class="list--number">5</p>
					<p><span class="text__bold">В 20 раз</span>экономнее расходуют воду.</p>
				</li>
				<li class="list list--numbers">
					<p class="list--number">6</p>
					<p><span class="text__bold">На 40%</span> сокращают расход средств для защиты растений.</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="section section--saving">
		<div class="section__wrapper section__wrapper--middle">
			<div class="section__padding">
				<img src="./img/trees.jpg" alt="" width="345" height="285" />
			</div>
			<div>
				<h2 class="title title--center">
					Экономия жидкостей для опрыскивания растений
				</h2>
				<ul>
					<li class="list list--marker">
						Равномерное нанесение на всю поверхность листа, которая повышает
						эффективность обработок;
					</li>
					<li class="list list--marker">
						Меньше жидкостей выносится за пределы поля в ветреную погоду
						(эффективная высота обработки у дронов XAG составляет 1,5-5 м);
					</li>
					<li class="list list--marker">
						Дрон может работать по карте поля, т.е., распылять химикаты точно по
						траншее с отступом не более 1 см (препарат не “уходит в землю”);
					</li>
					<li class="list list--marker">Возможность точечной обработки посевов.</li>
				</ul>
			</div>
		</div>	
	</section>
	<section class="section">
		<div class="section__wrapper">
			<div class="section__wrapper section__wrapper--advantage">
				<h2 class="title title--center">Преимущества дронов XAG</h2>
				<div class="section__wrapper--advantage--red-drone-prof"></div>
				<ul>
					<li class="list list--marker">
						В 2 раза более высокая производительность в сравнении с аналогичными
						дронами этого типа (до 18,5 га/ч);
					</li>
					<li class="list list--marker">
						Возможность обработки ряда шириной 4-7 м при опрыскивании и 2-5 м
						при разбрасывании;
					</li>
					<li class="list list--marker">
						Объемные сменные баки с возможностью автоматической заправки
						(станция приобретается отдельно);
					</li>
					<li class="list list--marker">
						Дроны XAG оборудованы радиолокаторами, камерой FPV и модулем для
						работы с 5G-сетями для большей безопасности дрона в воздухе и нужд
						оператора.
					</li>
					<li class="list list--marker">
						Объемные сменные баки с возможностью автоматической заправки
						(станция приобретается отдельно);
					</li>
					<li class="list list--marker">
						Класс защиты IP67 гарантирует не только брызгозащищенность дрона, но
						и его исправность после 30 минут в воде на глубине до 1,5 м;
						Возможность управления полетом на расстоянии до 1 км (скорость
						полета до 10 м/с);
					</li>
					<li class="list list--marker">
						<p>
							Возможность управления полетом на расстоянии до 1 км (скорость
							полета до 10 м/с);
						</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section__wrapper">
			<div class="addition__bg">
				<div class="addition">
					<p class="text__banner-bold">
						<span class="text__banner-bold">
							Расширить функционал дрона XAG можно при помощи дополнительных
							приобретений:
						</span>
						рассеиватель, зарядное устройство, сменные батареи, станция
						автоматической заправки, RTK (робототехнический комплекс).
					</p>
					<div class="addition__banner"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section__wrapper">
			<h2 class="title title--center title--center--padding">
				Помимо продажи дронов Агродом предлагает
			</h2>
			<ul class="offers">
			<li class="offers__part">
				<svg class="offers__icon">
					<use href="../img/sprite-old.svg#drone-1"></use>
				</svg>
				<h3 class="title title--bold">
					Обучение операторов беспилотных дронов «с нуля»
				</h3>
				<p class="text">
					У нас вы получите лётный сертификат, который удостоверит пройденный
					курс.
				</p>
			</li>
			<li class="offers__part">
				<svg class="offers__icon">
					<use href="../img/sprite-old.svg#drone-2"></use>
				</svg>
				<h3 class="title title--bold">
					Полное техническое обслуживание сельскохозяйственных дронов DJI и XAG
				</h3>
				<p class="text">
					У нас вы получите лётный сертификат, который удостоверит пройденный
					курс.
				</p>
			</li>
			<li class="offers__part">
				<svg class="offers__icon">
					<use href="../img/sprite-old.svg#control"></use>
				</svg>
				<h3 class="title title--bold">
					Бесплатные консультации по настройке и управлению дронами для
					покупателей
				</h3>
				<p class="text">
					И неважно, как давно вы совершили покупку. Задавайте любые вопросы - мы
					ответим!
				</p>
			</li>
			</ul>
			<button class="button" type="button">Связаться с нами</button>
		</div>
	</section>
	<section class="section section--bg">
		<div class="section__wrapper">
			<a href="" class="offers_link" download="price.pdf"
				></a
			>
			<svg class="offers__icon">
				<use href="../img/sprite-old.svg#download"></use>
			</svg>
			<a href="" class="offers_link" download="price.pdf"
				>Скачать прайс лист</a
			>
		</div>
	</section>
</main>