<main class="main">
  <section class="section">
    <div class="section__wrapper">
      <h1 class="title">Дроны XAG</h1>
      <!-- <img src="./img/red-dron.png" alt="" class=""> -->
      <p class="text">
        <span class="text__block-bold">Китайская компания XAG — </span>
        Это один из крупнейших производителей сельскохозяйственных дронов в
        мире. Ее продукция отличается высокой прочностью и устойчивостью
        конструкции и хорошей базовой комплектацией. XAG предлагают также
        передовую интеллектуальную систему управления и подготовки полетных
        заданий.
      </p>
      <img src="" alt="" class="img-logo" />
    </div>
  </section>
  <section class="section">
    <div class="section__wrapper">
      <h2 class="title title--center">Как именно дроны помогают сэкономить?</h2>
      <ul class="list list--numbers">
        <li class="list_item">
          <p class="text">
              Предотвращают потери урожая по «колее» сельхозтехники — а это <span class="text__bold">от 3 до 8%</span>!
          </p>
        </li>
        <li class="list_item">
          Могут работать круглосуточно и без выходных, что позволяет быстро
          реагировать на высыхание почвы или появление вредителей.
        </li>
        <li class="list_item">
          Работа дронов в ночное время повышает эффективность обработки в
          соответствии с биоритмами растений.
        </li>
        <li class="list_item">
          Не требуют расходов на аренду или содержание сельхозтехники,
          горюче-смазочные материалы для нее.
        </li>
        <li class="list_item">В 20 раз экономнее расходуют воду.</li>
        <li class="list_item">
          На 40% сокращают расход средств для защиты растений.
        </li>
      </ul>
    </div>
  </section>
  <section class="main__wrapper">
    <img src="./img/trees.jpg" alt="" class="main_img" />
    <h2 class="main_h2">Экономия жидкостей для опрыскивания растений</h2>
    <ul class="main__ul">
      <li class="main_item">
        Равномерное нанесение на всю поверхность листа, которая повышает
        эффективность обработок;
      </li>
      <li class="main_item">
        Меньше жидкостей выносится за пределы поля в ветреную погоду
        (эффективная высота обработки у дронов XAG составляет 1,5-5 м);
      </li>
      <li class="main_item">
        Дрон может работать по карте поля, т.е., распылять химикаты точно по
        траншее с отступом не более 1 см (препарат не “уходит в землю”);
      </li>
      <li class="main_item">Возможность точечной обработки посевов.</li>
    </ul>
  </section>
  <section class="main__wrapper">
    <img src="./img/red-drone-prof.png" alt="" class="main_img" />
    <h2 class="main_h2">Преимущества дронов XAG</h2>
    <ul class="main__ul">
      <li class="main_item">
        В 2 раза более высокая производительность в сравнении с аналогичными
        дронами этого типа (до 18,5 га/ч);
      </li>
      <li class="main_item">
        Возможность обработки ряда шириной 4-7 м при опрыскивании и 2-5 м при
        разбрасывании;
      </li>
      <li class="main_item">
        Объемные сменные баки с возможностью автоматической заправки (станция
        приобретается отдельно);
      </li>
      <li class="main_item">
        Дроны XAG оборудованы радиолокаторами, камерой FPV и модулем для работы
        с 5G-сетями для большей безопасности дрона в воздухе и нужд оператора.
      </li>
      <li class="main_item">
        Объемные сменные баки с возможностью автоматической заправки (станция
        приобретается отдельно);
      </li>
      <li class="main_item">
        Класс защиты IP67 гарантирует не только брызгозащищенность дрона, но и
        его исправность после 30 минут в воде на глубине до 1,5 м; Возможность
        управления полетом на расстоянии до 1 км (скорость полета до 10 м/с);
      </li>
      <li class="main_item">
        Возможность управления полетом на расстоянии до 1 км (скорость полета до
        10 м/с);
      </li>
    </ul>
  </section>
  <section class="addition">
    <div class="banner">
        <p class="text text--banner">
          <span class="text__banner-bold">
              Расширить функционал дрона XAG можно при помощи дополнительных
              приобретений:
          </span> 
          рассеиватель, зарядное устройство, сменные батареи, станция
          автоматической заправки, RTK (робототехнический комплекс).
        </p>
    </div>
  </section>
  <section class="offers">
    <h2 class="offers_h2">Помимо продажи дронов Агродом предлагает</h2>
    <div class="offers_part">
      <span class="offers_span"
        >Обучение операторов беспилотных дронов «с нуля»</span
      >
      <p class="offers_text">
        У нас вы получите лётный сертификат, который удостоверит пройденный
        курс.
      </p>
    </div>
    <div class="offers_part">
      <span class="offers_span"
        >Полное техническое обслуживание сельскохозяйственных дронов DJI и
        XAG</span
      >
      <p class="offers_text">
        У нас вы получите лётный сертификат, который удостоверит пройденный
        курс.
      </p>
    </div>
    <div class="offers_part">
      <span class="offers_span"
        >Бесплатные консультации по настройке и управлению дронами для
        покупателей</span
      >
      <p class="offers_text">
        И неважно, как давно вы совершили покупку. Задавайте любые вопросы - мы
        ответим!
      </p>
    </div>
    <button class="offers_button">Связаться с нами</button>
    <a href="" class="offers_link">Скачать прайc дронов XAG</a>
  </section>
</main>
